site_name: IntricateDocs
site_url: https://intricate-dev-team.github.io/IntricateDocs/
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

plugins:
  - social
  - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/Intricate-Dev-Team
  
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

# nav:
#   - Home: index.md
#   - Project:
#       - Overview: project/index.md
#       - Build Configurations: project/build-configurations.md
#       - IDE Requirements: project/ide-requirements.md
#       - Setup Guide: project/setup.md
#       - System Requirements: project/system-requirements.md
#   - Style:
#       - Overview: style/index.md
#       - C++ Style Guide: style/cpp-style.md
#       - C# Style Guide: style/csharp-style.md
#       - Naming Conventions: style/naming-conventions.md
#   - Philosophy: philosophy.md
# 
copyright: |
  &copy; 2026 <a href="https://github.com/Intricate-Dev-Team" target="_blank" rel="noopener">Intricate Dev Team</a>
